<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Cpf</th>
      <th scope="col">Contato</th>
      <th scope="col">Endereco</th>
      <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pessoaFisica of pessoasFisicas; index as i">
      <td>
        <ngb-highlight [result]="pessoaFisica?.nome"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="pessoaFisica.cpf" ></ngb-highlight></td>
      <td><ngb-highlight [result]="pessoaFisica.contato" ></ngb-highlight></td>
      <td><ngb-highlight [result]="pessoaFisica.endereco" ></ngb-highlight></td>
      <th scope="row"><button (click)="emitPessoaFisicaId(pessoaFisica.id)" class="btn mr-1 btn-light"><i class="fas fa-edit"></i></button><button  (click)="emitInativarPessoaFisica(pessoaFisica.id)" class="btn btn-light"><i class="fa mr-1 fa-trash"></i></button></th>
    </tr>
    </tbody>
  </table>